<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Sobre</title>
</head>
<body>
    <header id="header">
        <script src="../CODE/header.js"></script>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <br><br><br><br>
                <h1 class="titulo text-center">
                    Sobre nós
                </h1>
                <div class="col">
                    <br><br><br>
                    <p class="sobreNos">
                        Seja você um músico experiente ou esteja apenas começando sua jornada musical, a Harmony Tunes é o seu destino definitivo para instrumentos musicais de alta qualidade e acessórios. Nossa loja online foi projetada para atender às necessidades de músicos de todos os níveis, desde iniciantes até profissionais, oferecendo uma ampla variedade de instrumentos e equipamentos musicais.

                        Na Harmony Tunes, você encontrará uma extensa seleção de instrumentos musicais de todos os tipos.

                        Nós, do time da Harmony Tunes lhe dizemos obrigado por escolher a Harmony Tunes como sua loja de instrumentos musicais online. Estamos aqui para ajudá-lo a encontrar os instrumentos e equipamentos que você precisa para expressar sua paixão pela música. Comece sua jornada musical conosco hoje mesmo!
                    </p>
                </div>

            </div>
        </div>
    </div>
    <br><br><br>



    <footer id="footer">
        <script src="../CODE/footer.js"></script>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
